In [5]:
#the slicing operator
"""
seq[start]
seq[start:end]
seq[start:end:step]
"""
word="who are you?"
word[-1]
word[0:1]
word[0:10:3]
word[-2]
word[:-2]

'who are yo'

In [14]:
#join method
word=["I","am","ready"]
a=''.join(word)
a#Iamready
b='<>'.join(word)
b
''.join(reversed(word))

'readyamI'

In [17]:
name="sachin tendulkar"
name.rjust(50,'-')
name.ljust(20,'*')

'sachin tendulkar****'

In [18]:
#string unpacking
name="ram"
number=999
"the {number} is {name}".format(**locals())

'the 999 is ram'

In [22]:
name="sachine\ntendulkar"
name.splitlines()

['sachine', 'tendulkar']

In [27]:
#methods for changing string
name="sachin Tendulkar"
name.upper()#'SACHIN TENDULKAR'
name.lower()#'sachin tendulkar'
name.capitalize()#'Sachin tendulkar'
name.swapcase()#'SACHIN tENDULKAR'

'SACHIN tENDULKAR'

In [33]:
#methods for searching
#1:index(x):Returns the index position of substring x, or raises a ValueError exception on failure
#2:find(x): Returns the index position of substring x, or -1 on failure
name="sachin tendulkar"
name.index('k')#13
name.find('k')#13
#name.index('z')#ValueError
name.find('z')#-1

-1

In [40]:
#tuple unpacking
*x,y=(1,2,3,4)
x

[1, 2, 3]

In [51]:
#list adding methods
a=['ran','shyam','mahesh']
a.append('hari')
a #['ran', 'shyam', 'mahesh', 'hari']
a.extend('hari')
a #['ran', 'shyam', 'mahesh', 'hari', 'h', 'a', 'r', 'i']
a[len(a):]=['hari']
a #['ran', 'shyam', 'mahesh', 'hari', 'h', 'a', 'r', 'i', 'hari']
a.insert(2,'rahim')
a #['ran', 'shyam', 'rahim', 'mahesh', 'hari', 'h', 'a', 'r', 'i', 'hari']
a.remove('ran')
a #['shyam', 'rahim', 'mahesh', 'hari', 'h', 'a', 'r', 'i', 'hari']
a.pop() #'hari'

'hari'

In [57]:
#searching and sorting methods for list
a=[1,2,4,5,2,0,2,9,33]
a.index(2)#1
a.count(2)#3
a.sort()
a#[0, 1, 2, 2, 2, 4, 5, 9, 33]
a.reverse()
a#[33, 9, 5, 4, 2, 2, 2, 1, 0]

[33, 9, 5, 4, 2, 2, 2, 1, 0]

In [58]:
#List comprehension
"""
[item for item in iterable]
[expression for item in iterable]
[expression for item in iterable if condition]
"""
a=[1,2,3,4,5]
b=[x*x for x in a]
b#[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]